<!DOCTYPE html>
<head> 
  <link href="<%= url('/user_input.css') %>" rel="stylesheet" type="text/css" />
</head>

<h1> Meal Choices </h1>
<div id='results'>
  <p> From these ingredients '<%= @ingredients_list %>' you could make: </p>
</div>

<div id='option' >
  <% @meal_choices.each do |choice| %>
    <div id='choice'>
      <h4><%= choice.split(':')[0] %></h4>
      <%= choice.split(':')[1] %></br></br>
    </div></br>
  <% end %>
</div>

